@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
}
.index header, .concept header, .tutorial header, .references header {
  grid-column: 1 / -1;/*expand header of all pages to to whole width*/
}
.index footer, .concept footer, .tutorial footer .references footer {
  grid-column: 1 / -1;
  background-color: rgba(255, 255, 255,0.25);
}
html a {
  text-decoration: none; /* remove all underlines of links*/
}
.index {
  background-image: url('../images/mitchell-luo-kAssc7Sx8pg-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.index main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  grid-template-rows: repeat(2, 1fr);
}
.index main :first-child {
  grid-column: 1 / -1;
}
.index main :first-child figure {
  float:left;
}
.index main section h2 {
  margin-top: 0.45rem;
}
.index main figure {
  float:left;
}

.concept {
  background-image: url('../images/annie-spratt-xTaOPMa6wAE-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

.concept main {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, auto);

}
.tutorials {
  background-image: url('../images/annie-spratt-YN9zG6nGvFI-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, auto);
}
.tutorials main {
  display: grid;
  gap: 1rem;
  grid-template: repeat(2, auto) / repeat(2, auto);
}
.references {
  display: grid;
  grid-template-columns: auto 300px;
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  background-image: url('../images/henry-co-ibpb6R7LthM-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
}

.references aside {
  background-color: rgba(255, 255, 255,0.25);
  display: grid;
  grid-template-rows: auto auto;
}
.references aside form fieldset {
  border: 1px solid rgb(214,195,95);
}
.follow ul {
  list-style: none;
  display: flex;
  padding:0;
  gap: 1rem;
  justify-content: flex-start;
  grid-template-columns: repeat(4, 0.5rem);
}
.references table {
  width:75%;
  border-radius: 5px;
  border: 1px solid rgb(17, 112, 133);
}
.references table th, .references table td {
  border: 0.5px solid rgb(7, 102, 123);
}
@media screen and (min-width: 600px) {
  
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.noto-sans sc-<uniquifier> {
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier> {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
