@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap');
/*  --TABLE OF CONTENT--
    - ROOT
    - GENERAL LAYOUT FOR ALL PAGES
    - INDEX
    - CONCEPT
    - CHECKPOINT
    - REFERENCES
    - RESPONSIVE DESIGN
      - Mobile layout
      - Medium layout
      - Large devices (laptops/desktops, 992px and up)
      - Extra large devices (large laptops and desktops, 1200px and up)
*/
/* ROOT */
:root {
  --fontsize--small: 100%;
  --fontsize--medium: 115%;
  --fontsize--large: 120%;
  --fontsize--extra-large: 125%;
  --colors--text-primary: rgb(25, 37, 56);
  --colors--a:rgb(82, 0, 0);
  --colors--background:rgba(255,255,255,0.15);
  --colors--border: rgb(7, 102, 123);
  --colors--background--link: rgba(212, 198, 145, 0.85);
  --layout--padding: 0.375rem;
  --layout--extra-small-spacing: 0.5rem;
  --layout--small-spacing: 1rem;
  --layout--middle-spacing: 1.5rem;
  --layout--large-spacing: 2rem;
  --layout--extra-large-spacing: 3.5rem;
  --width--max: 1200px;
  --width--standard: 100%;
  --width--small: 75%;
  --width--medium: 95%;
}
/* GENERERAL */
html {
  scroll-behavior: smooth;
  font-family: "Noto Sans SC", sans-serif;
  font-optical-sizing: auto;
  font-weight:normal;
  font-style: normal;
  line-height: var(--layout--middle-spacing);
  margin: var(--layout--small-spacing);
}
html a {
  text-decoration: none; /* remove all underlines of links*/
}
header, main, footer {
  background-color: var(--colors--background);/* set the background color and margin for all header, main and footer*/
  margin: var(--layout--extra--small-spacing);
  height: auto;
}
a, a:visited {
  color: var(--colors--a);
}
p {
  color: var(--text--color--primary);
}
h1{
  margin-left: var(--layout--small-spacing);
}
main ul {
  padding-left: var(--layout--small-spacing);
}
nav ul li, footer ul li {
  background-color: var(--colors--background--link);
}
footer ul{
  margin: 0;
}
.index header, .index footer, .concept header, .concept footer, .checkPoint header, .checkPoint footer, .references header, .references footer{
  grid-column: 1 / -1;/*expand header of all pages to to whole width*/
}
nav ul, footer ul {
  list-style-type: none; /* remove all underlines of links of nav and footer*/
  padding: 0;
  margin-left: var(--layout--small-spacing);
}
section {
  margin: 2.75%;
}
label input{
  cursor: pointer;/*change the cursor to pointer when hovering over the input*/
}
th, td {
  padding: var(--layout--extra-small-spacing);
  text-align: center;
}
/* INDEX */
.index {
  background-image: url('../images/mitchell-luo-kAssc7Sx8pg-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
  display: grid;
  grid-template-rows: repeat(3, auto);
}
.index main {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: var(--layout--small-spacing);
  grid-template-rows: repeat(2, 1fr);
}
.index main :first-child {
  grid-column: 1 / -1;
}
.index main :first-child figure {
  float:left;
  margin: 0 2.5% 1% 0;
}
.index main section h2 {
  margin: 0 0 1% 0;
}
.index main figure {
  float:left;
}

/* CONCEPT */
.concept {
  background-image: url('../images/geissht-BzS6WjI6IhY-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}
.concept main {
  display: grid;
  gap: var(--layout--small-spacing);
  grid-template-rows: repeat(3, auto);
}
.res_image img, .res_image figcaption{
  display: none;
}
.concept main div section{
  margin-top: var(--layout--extra-large-spacing);
}

/* CHECK POINT*/
.checkPoint {
  background-image: url('../images/annie-spratt-YN9zG6nGvFI-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
  display: grid;
  gap: var(--layout--small-spacing);
  grid-template-rows: 1fr, auto, 1fr;
}
.checkPoint main {
  display: block;
}
.checkPoint main section form label{
  display: block;
}

/* REFERENCE */
.references {
  display: grid;
  grid-template-columns: auto 175px;
  grid-template-rows: repeat(3, auto);
  gap: var(--layout--small-spacing);
  background-image: url('../images/pawel-czerwinski-7qGaSSjtIes-unsplash.jpg');
  background-position: center; 
  background-size: cover; /* Makes the background image as large as possible while maintaining its aspect ratio */
  align-items: start;
}
.references main {
  align-items: start;
}

.references aside {
  background-color: var(--colors--background);
  display: block;
}
.references aside form fieldset {
  border: 1px solid var(--colors--border);
  padding: 0;
}
.follow ul {
  list-style: none;
  display: flex;
  padding:0;
  gap: var(--layout--small-spacing);
  justify-content: flex-start;
  grid-template-columns: repeat(4, 0.5rem);
}
.references table {
  width:var(--width--small);
  border-radius: 5px;
  border: 1px solid var(--colors--border);
}
.references table th, .references table td {
  border: 0.5px solid var(--colors--border);
  padding: var(--layout--extra-small-spacing);
}
.references .container section table {
  width: var(--width--medium);
}
nav ul a, nav ul a:visited {
  display: inline-block;
  padding: var(--layout--extra-small-spacing);
  box-sizing: border-box;
}

.button-39 {
  background-color: #ffffff;
  border: 1px solid rgb(209,213,219);
  border-radius: 0.625rem;
  box-sizing: border-box;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.925rem;
  font-weight: 475;
  line-height: 1.5rem;
  padding: var(--layout--extra-small-spacing);
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}

.float-left{
  float: left;
  margin-left: 0;/* how you can remove or adjust a lot of extra space around them */
}

.float-left img {/*regulate the shape of images*/
  width: var(--width--standard);
  vertical-align: middle;
  margin-bottom: 1rem;
  margin-top: -10px;
}
.clear_float {
  clear: both;
  margin-top:-1rem;
}
audio {
  width: var(--width--standard);
}

/* Mobile layout */
@media screen and (max-width: 600px) {
  nav ul {
    display: none;
  }
  nav button, nav ul.show {
    display: block;
  }
}
/* Medium layout */
@media screen and (min-width: 600px) {
  html {
    font-size: var(--fontsize--medium);
  }
  nav button {
    display: none;
  }
  nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
  }
  .checkPoint main div{
    display: grid;
    gap: var(--layout--small-spacing);
    grid-template: repeat(2, auto) / repeat(2, 1fr);
  }
  footer div ul li {
    display: inline;
    margin: 3.5%;
  }
  .references main section table {
    display: block;/* table will be displayed as block */
    overflow-x: auto;/*horizontally scrollable*/
    width: var(--width--standard);
    border: 0;/* remove border */
  }
  footer ul {
    height:auto;
  }
}
/* Large devices (laptops/desktops) */
@media only screen and (min-width: 992px) {
  html {
    font-size: var(--fontsize--large);
    line-height: var(--layout--large-spacing);
  }
  .checkPoint main section form label {
    line-height:var(--layout--middle-spacing);
  }
  .references main div {
    display: grid;
    gap: var(--layout--small-spacing);
    grid-template-columns: repeat(2, 1fr);
  }
  .references section:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / span 3;
    width: var(--width--standard);
  }
  .concept main div {
    display: grid;
    gap: var(--layout--small-spacing);
    grid-template-columns: repeat(3, 1fr);
  }
  .concept main div section:nth-child(1) {
    grid-column: span 2;
  }
  .res_image img, .res_image figcaption {
    display:block;
  }
  .clear_float {
    clear: none;
    margin-top: 0;
  }
}
/* Extra large devices (large laptops and desktops) */
@media only screen and (min-width: 1200px) {
  html {
    font-size: var(--fontsize--extra-large);
    line-height: var(--layout--large-spacing);
  }
  .container {
    max-width: var(--width--max);
    margin: auto; /* have the content centered with a maximum width.*/
  }
  main .container {
    display: flex;
    justify-content: center;
    max-width: var(--width--max);
    margin: auto;
  }
  
  main .container section {
    align-self: flex-start;
    width: var(--width--standard);
  }
}